# place in /etc/systemd/system/doorman.service and install with `systemd install doorman.service`
[Unit]
Description=Load Balancer automation for Kubernetes via Nginx

After=nginx.service

[Service]

Type=simple
User=doorman
WorkingDirectory=/var/lib/doorman
ExecStart=/usr/local/bin/doorman --config /var/lib/doorman/doorman.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
