# place in /etc/systemd/system/doorman.service and install with `systemd install doorman.service`
[Unit]
Description=Load Balancer automation for Kubernetes via Nginx

After=nginx.service

[Service]

Type=simple
User=nginx
WorkingDirectory=/etc/nginx/
ExecStart=/usr/local/bin/doorman
Restart=on-failure

[Install]
WantedBy=multi-user.target
